.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* div {
  
  border: 1px solid red;
} */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 2;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  display: flex;
  margin-left: 64px;
  align-items: center;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.header__subtitle-link { 
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  display: flex;
  position: absolute;
  justify-content: end;
  bottom: 0;
  right: 0;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  align-items: flex-end;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.section-title {
  display: flex;
  width: 60%;
  margin: auto auto 20px auto;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  display: flex;
  width: 648px;
  margin: 100px auto 70px auto;
  padding-top: 100px;
  justify-content: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  height: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  background-color: #1f1f1f;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  position: relative;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  margin-bottom: 90px;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  position: relative;
}

.footer__columns-content-copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  position: absolute;
  left: 0;
  bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__columns-content-info {
  margin: 0 auto 0 auto;
}

.footer__column-heading {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links {
  padding-left: 0;
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
}

.footer__columns-content-social {
  position: absolute;
  right: 0;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
}